/*--------------GENERAL STYLES--------------*/
:root {
  --black: #000000;
  --orange: #EEA62B;
  --dark-red: #601B0C;
  --brown: #290001;
  --grey: #4D4D4D;
}
@font-face {
    font-family: 'Helvetica Light';
    src: url('../fonts/Helvetica-Light.woff2') format('woff2'),
        url('../fonts/Helvetica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica Bold';
    src: url('../fonts/Helvetica-Bold.woff2') format('woff2'),
        url('../fonts/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body, html {
	overflow: hidden;
	height: 100%; 
	width: 100%;
}
body {
	background: var(--brown);
	transition: background 0.5s ease;
}
html.allow-overflow {
  overflow: initial !important;
  overflow-x: visible !important;
}
body.allow-overflow {
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}
*::selection {
	background: #EEA62B;
	color: var(--brown);
}
* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
body.no-anim * {
  transition: none !important;
}
*:focus,
*:hover {
	outline: none !important;
}

/*----CUSTOM SCROLLBAR----*/

::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.0);
}
::-webkit-scrollbar-thumb {
    background: #eea62b;
    border-radius: 10px;
}
p, a, label, li {
	font-family: 'Helvetica Bold', sans-serif;
	font-weight: 500;
	font-size: 16px;
	transition: all 0.5s ease;
	color: var(--orange);
}
a {
	font-family: 'Helvetica Neue Light';
    font-weight: 300;
	text-decoration: none;
	color: #fff;
}
input, textarea, button, span {
	font-family: 'Helvetica';
}
a:hover {
	text-decoration: none;
}
.homepage-anim,
.thesis-anim {
	position: relative;
	height: 100vh;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease;
}
/*Add a class to animate when Pagepiling active*/
.homepage-anim.pp-active,
.thesis-anim.pp-active {
	opacity: 1;
	pointer-events: all;
}
/*Page Piling styles*/
section {
	position: relative;
	height: 100vh;
	transform: unset !important;
	opacity: 0;
	transition: opacity 0.7s ease !important;
}
section.active {
	opacity: 1;
	pointer-events: all;
}
#pp-nav {
	display: none;
}
.pp-scrollable {
    display: block !important;
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll !important;
}
/*Arrow down to next page*/
.arrow {
	position: absolute;
	bottom: 50px;
	left: 40px;
}
/*Arrow will be further up on thesis page*/
.thesis-anim .arrow {
	bottom: -50px;
}
.arrow img {
	width: 25px;
	height: 25px;
}
.arrow.up {
	left: 0px;
	bottom: unset;
	top: -20px;
}

/*HELPER DIVS*/
.container {
	position: relative;
	max-width: 1800px;
	width: 100%;
	padding: 0px 40px;
	height: 100vh;
	max-height: calc(100% - 200px);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.container.scale * {
	transform: scale3d(1.0, 1.0, 1.0);
}
.mobile {
	display: none !important;
}
.normal-section {
	opacity: 1;
	background: var(--brown);
	padding-top: 230px;
	height: 100%;
}

/*CIRCLE BUTTONS WITH ARROW*/
.circle-btn {
	position: relative;
	height: 84px;
	width: 84px;
	border: 1px solid #fff;
	background: transparent;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.5s ease;
	margin-left: 20px;
}
.circle-btn:before,
.circle-btn:after {
	content: "";
	background: url('../img/general/arrow-right.svg');
	background-size: cover;
	height: 32px;
	width: 37px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateZ(0) translate(-50%, -50%);
	transition: opacity 0.5s ease;
	backface-visibility: hidden;
}
.circle-btn:after {
	background: url('../img/general/arrow-right-black.svg');
	background-size: cover;
	opacity: 0;
}

/*MEDIUM SIZE*/
.circle-btn.md {
	width: 64px;
	height: 64px;
}
.circle-btn.md:before,
.circle-btn.md:after {
	height: 27px;
	width: 32px;
}

/*SMALL SIZE*/
.circle-btn.sml {
	width: 35px;
	height: 35px;
}
.circle-btn.sml:before,
.circle-btn.sml:after {
	height: 15px;
	width: 18px;
}

/*--------------NAV--------------*/

nav {
	position: fixed;
	width: 100%;
	height: 120px;
	z-index: 999;
	transition: background 0.2s;
}
nav .container {
	position: static;
	display: flex;
	justify-content: space-between;
	flex-direction: unset;
	padding-top: 45px;
}
.logo {
	position: relative;
	width: 100px;
	height: 36px;
}
.logo img {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
}
.right-nav ul {
	margin: 0;
}
.nav-item {
	margin: unset;
	display: inline-block;
	margin-right: 20px;
	color: #fff;
}
.nav-item:last-of-type {
	margin-right: 0;
}
.nav-item.active .nav-link {
	color: #f2850f;
	font-family: 'Helvetica Bold', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px var(--brown);
}
.nav-link {
	display: block;
	font-family: 'Helvetica Light', sans-serif;
    font-weight: 300;
}
/*LIGHT NAV*/
nav.light .logo .dark {
	opacity: 0;
}
nav.light .logo .light {
	opacity: 1;
}
nav.light .right-nav p {
	color: #fff;
}
nav.light .menu-toggle .bar {
	background: #fff;
}
/*DARK NAV WITH YELLOW BACKGROUND*/
nav.yellow-bg {
	background: #efa52d;
	transition: background 0.2s ease 0.8s;
}
/*LIGHT NAV WITH BLACK BACKGROUND*/
nav.black-bg {
	background: #000;
	transition: background 0.2s ease 0.4s;
}
/*LIGHT NAV WITH BROWN BACKGROUND*/
nav.brown-bg {
	background: var(--brown);
}
/*DARK NAV*/
nav.dark .logo .dark {
	opacity: 1;
}
nav.dark .logo .light {
	opacity: 0;
}
nav.dark .right-nav a {
	color: var(--brown);
}
nav.dark .menu-toggle .bar {
	background: var(--brown);
}

/*MENU BUTTON*/
.menu-toggle {
	display: none;
	position: absolute;
	top: 23px;
	right: 18px;
	align-items: center;
    height: 18px;
}
.nav-btn {
	display: inline-block;
	background: unset;
	border: unset;
	width: 30px;
	padding: 0;
}
.nav-btn .bar {
    height: 3px;
    width: 25px;
    background: #fff;
    display: block;
    margin-bottom: 3px;
    transition: background 0.5s ease;
}
.nav-btn .bar:last-of-type {
    width: 25px;
}

/*-----MOBILE NAV-----*/

menu.mobile-nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background: var(--brown);
	z-index: 1000;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease;
	margin-top: 0;
}
menu.mobile-nav.display {
	opacity: 1;
	pointer-events: all;
}
.mobile-nav span.menu-text {
	position: absolute;
	top: 20px;
	left: 20px;
	font-family: 'Helvetica Light', sans-serif;
    font-weight: 300;
	color: #fff;
	font-size: 20px;
}
.close-btn {
	position: absolute;
	top: 20px;
	right: 25px;
}
.mobile-nav__items {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.mobile-nav__items ul {
	padding-inline-start: 0px;
	margin: 0;
}
.mobile-nav__items .nav-item {
	display: block;
	margin-right: 0;
	opacity: 0;
}
.mobile-nav__items .nav-link {
	display: flex;
	height: 100px;
	align-items: center;
	border-top: 1px solid var(--dark-red);
	border-bottom: 1px solid var(--dark-red);
	padding: 0px 20px;
	font-size: 48px;
	transition: background 0.5s ease;
}
.mobile-nav__items .mobile-socials {
	padding: 20px;
	height: 85px;
	display: flex;
	align-items: flex-start;
}
.mobile-nav__items .social-link {
	margin-right: 55px;
}
.mobile-nav__items .social-link picture {
	display: block;
	width: 30px;
	height: auto;
}
.mobile-nav__items .social-link picture img {
	width: 100%;
	height: auto;
}
.mobile-nav__items .nav-item:hover {
	background: var(--dark-red);
}

/*OPEN ANIMATION*/
menu.mobile-nav.display .nav-item {
	animation: fadeIn 0.5s linear forwards;
}
menu.mobile-nav.display .nav-item:nth-child(1) {
	animation-delay: 0.2s;
}
menu.mobile-nav.display .nav-item:nth-child(2) {
	animation-delay: 0.35s;
}
menu.mobile-nav.display .nav-item:nth-child(3) {
	animation-delay: 0.5s;
}
menu.mobile-nav.display .nav-item:nth-child(4) {
	animation-delay: 0.65s;
}
menu.mobile-nav.display .nav-item:nth-child(5) {
	animation-delay: 0.8s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*-----CIRCLE NAV-----*/

.circle-nav,
.circle-nav.thesis {
	position: fixed;
	right: 0px;
	top: 0;
	height: 100%;
	z-index: 998;
	display: flex;
	align-items: center;
    transition: transform 0.5s ease, opacity 0.3s ease;
}
.circle-nav .circles,
.circle-nav-thesis .circles {
	padding-top: 60px;
	transform: rotate(255deg);
	margin-top: 400px;
}
.circle-nav.hide {
	opacity: 0;
	pointer-events: none;
}
.circle-animator {
	top: 0;
	right: 0px;
	position: fixed;
	height: 100%;
	z-index: 998;
	display: flex;
	align-items: center;
}
.circle-animator.thesis {
	right: unset;
	left: 0;
}
.circle-nav .circles a {
	display: block;
}
.circle-nav .circles a span {
	position: absolute;
    display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #fff;
    transform-origin: calc(100% + 130px) 50%;
    box-sizing: border-box;
    transition: background 0.3s ease 0.15s;
}

/*HOMEPAGE - RIGHT ALIGNED*/

/*Left side*/
.circle-nav .circles a.one span {
	transform: rotate(195deg);
}
.circle-nav .circles a.two span {
	transform: rotate(165deg);
}
.circle-nav .circles a.three span {
	transform: rotate(135deg);
}
.circle-nav .circles a.four span {
	transform: rotate(105deg);
}
.circle-nav .circles a.five span {
	transform: rotate(75deg);
}
.circle-nav .circles a.six span {
	transform: rotate(45deg);
}
.circle-nav .circles a.seven span {
	transform: rotate(15deg);
}

/*Right side*/
.circle-nav .circles a.eight span {
	transform: rotate(-15deg);
}
.circle-nav .circles a.nine span {
	transform: rotate(-45deg);
}
.circle-nav .circles a.ten span {
	transform: rotate(-75deg);
}
.circle-nav .circles a.eleven span {
	transform: rotate(-105deg);
}
.circle-nav .circles a.twelve span {
	transform: rotate(-135deg);
}

.circle-nav .circles a.active span {
	background: #fff;
}

/*--------------FULL PAGE SECTIONS--------------*/

.section-showcase {
	overflow: hidden;
	pointer-events: none;
}
.section-showcase .pp-tableCell {
	display: flex;
	align-items: center;
}
.section-showcase header {
	position: relative;
	margin-top: 50px;
	animation: unset;
	animation: headerSlideToTop 0.8s ease forwards;
}
@keyframes headerSlideToTop {
	0% {
		transform: translateY(0px);
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		transform: translateY(-100px);
		opacity: 0;
	}
}

/*-----HEADER SCROLL ANIMATION-----*/

section.show-headers:not(.active) header,
section.active header {
	animation: headerSlideFromBottom 0.8s ease forwards;
	animation-delay: 0.3s;
	opacity: 0;
}
/*For current slide that came from scrolling up*/
section.show-headers:not(.active).anim-down header,
section.active.anim-down header {
	animation: unset;
	animation: headerSlideToBottomNoFade 0.8s ease forwards !important;
	animation-delay: 0.2s !important;
}
/*For slides that are disappearing from down to up*/
section.anim-down header {
	animation: unset;
	animation: headerSlideToBottom 0.8s ease forwards;
	animation-delay: 0s;
}
@keyframes headerSlideFromBottom {
	0% {
		transform: translateY(40px);
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes headerSlideToBottom {
	0% {
		transform: translateY(0px);
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		transform: translateY(40px);
		opacity: 0;
	}
}
@keyframes headerSlideToBottomNoFade {
	0% {
		transform: translateY(-40px);
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}

span.subheading {
	font-family: 'Helvetica Bold', sans-serif !important;
	font-size: 16px;
	color: var(--orange);
	display: block;
	margin-bottom: 20px;
}
.section-showcase header h1,
.section-showcase header a {
	color: #fff;
	font-family: 'Helvetica Light', sans-serif;
	font-weight: 300;
	font-size: 72px;
	margin: unset;
	transition: font-size 0.5s ease;
}
.section-showcase header h1,
.section-showcase header span {
	position: relative;
	display: block;
	color: var(--orange);
	font-family: 'Helvetica Light', sans-serif;
	font-weight: 300;
}
.section-showcase header span.inline {
	display: inline;
	font-size: 72px;
}
a.link-white {
	color: #fff;
	display: inline-flex;
	align-items: center;
	font-family: inherit;
	font-size: inherit;
	transition: inherit;
}

/*HOVER EFFECTS*/
a.link-white:hover > .circle-btn,
.circle-btn:hover {
	background: #fff;
}
/*Make the white arrow opacity 0*/
a.link-white:hover > .circle-btn:before,
.circle-btn:hover:before {
	opacity: 0;
}
/*And black arrow opacity 1*/
a.link-white:hover > .circle-btn:after,
.circle-btn:hover:after {
	opacity: 1;
}
.section-showcase video {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%) scale3d(1.1, 1.0, 1.0);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    backface-visibility: hidden;
}
.section-showcase video.loaded {
    opacity: 1;
    transform: translate(0%, -50%) scale3d(1.0, 1.0, 1.0);
}

/*-----SECOND PAGE - ABOUT-----*/

.section-showcase.about header {
	width: 800px;
}
.section-showcase.about header .subheading {
	color: var(--brown);
}
.section-showcase.about header h1 span,
.section-showcase.about header a.link-white {
	font-size: 48px;
	color: var(--brown);
}
.section-showcase.about header a.link-white {
	position: relative;
	color: #fff;
	margin-top: 20px;
}

/*-----THIRD PAGE - HIGH DEF-----*/

.section-showcase.highdef {
	background: var(--brown);
}
.section-showcase.highdef .container {
	z-index: 1;
}
.section-showcase.highdef .highdef-logo {
	margin-bottom: 30px;
	width: 325px;
}
.section-showcase.highdef header {
	width: 575px;
	margin-top: 0;
}
.section-showcase.highdef header a.link-white:before {
	width: calc(100% + 50px);
}
.section-showcase.highdef header h1 span,
.section-showcase.highdef header a.link-white {
	font-size: 48px;
}
.section-showcase.highdef header a.link-white {
	margin-top: 20px;
}

.episodes {
	margin-top: 30px;
}
.episodes .subheading {
	display: block;
	margin-bottom: 20px;
	font-family: 'Helvetica Bold', sans-serif;
	font-size: 16px;
	color: var(--orange);
	display: block;
	margin-bottom: 20px;
}
.episodes a.link-white {
	font-family: 'Helvetica Light', sans-serif;
	font-weight: 300;
	font-size: 32px;
	margin-top: 10px;
}
.episode {
	position: relative;
	display: inline-block;
	width: 270px;
	height: 410px;
	border: 1px solid var(--dark-red);
	border-radius: 6px;
	overflow: hidden;
	transition: background 0.5s ease;
	background: var(--brown);
}	
.episodes .episode:first-of-type {
	margin-right: 20px;
}
.episode .blur {
	transition: all 0.5s ease;
}
.episode .episode-thumbnail {
	position: relative;
	width: 100%;
	height: 270px;
	margin: 0;
}
.episode-info {
	position: relative;
	padding: 15px 15px 7px;
	width: 100%;
}
.episode-info .number,
.episode-info .date,
.episode-info .time {
	display: block;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	color: var(--orange);
	margin-bottom: 10px;
	margin-top: 0;
	font-weight: 300;
}
.episode-info .number,
.episode-info .date {
	margin-bottom: 5px;
}
.episode-info .heading {
	font-family: 'Helvetica Bold', sans-serif;
	font-size: 24px;
	margin: 0px 0px 5px;
	color: #fff;
}

/*MAKE DATE AND TIME ON SAME LINE*/
.episode-info .date,
.episode-info .time {
	display: inline;
}
.episode-info .date + span {
	color: var(--orange);
}

/*BLUR DIV*/
.episode .episode-thumbnail .blur {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 270px;
	background: rgba(255, 255, 255, 0.1);
	opacity: 0;
	z-index: 1;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
.episode .episode-thumbnail img {
	width: 100%;
	height: 270px;
}
.episode .episode-thumbnail .thumbnail {
	opacity: 1;
}
.episode .episode-thumbnail .thumbnail-blur {
	opacity: 0;
}
.episode a.open {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	font-family: 'Helvetica Bold', sans-serif;
	font-size: 16px;
	color: #fff;
	padding: 10px 15px;
}
.episode .mobile {
	display: none !important;
}
.episode a.open:after {
	content: "";
	background: url("../img/listen/arrow-right.svg");
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: 15px;
	height: 20px;
	width: 25px;
}

/*HOVER EFFECTS - BLUR*/
.episode:hover .episode-thumbnail .thumbnail-blur {
	opacity: 1;
}
.episode:hover .episode-thumbnail .blur {
	opacity: 1.0;
}
.episode:hover {
	background: var(--dark-red);
}

/*BG ANIMATION GRAPHICS*/
.graphics {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 58vw;
	z-index: 0;
	transition: width 0.2s ease;
}
.highdef-bg {
	position: absolute;
	top: 50%;
	left: 100px;
	transform: scale3d(1.0, 1.0, 1.0) translate(0%, -50%);
	border-radius: 50%;
	min-height: 170vh;
	min-width: 170vh;
	overflow: hidden;
	transition: height 0s ease, right 3s ease, opacity 2s ease, left 3s ease, transform 3s;
	opacity: 0.3;
}
.highdef-bg img {
	position: absolute;
	top: 50%;
	right: 250px;
	transform: translate(0%, -50%);
	height: calc(100% - 35vh);
	width: auto;
}
.graphics .circle-red,
.graphics .circle-orange,
.graphics .circle-white {
	transition: all 3.5s ease;
	position: absolute;
	opacity: 0.3;
}
.graphics .circle-red {
	left: 0px;
	top: -100px;
	height: 300px;
	width: 300px;
}
.graphics .circle-orange {
	left: 0px;
	bottom: -50px;
	height: 240px;
	width: 240px;
}
.graphics .circle-white {
	left: 100px;
	bottom: 170px;
	height: 100px;
	width: 100px;
	z-index: -1;
}
/*When the slide is active, activate the animations*/
.graphics.active .circle-red,
.graphics.active .circle-orange,
.graphics.active .circle-white {
	transition: all 3.5s ease 0.7s;
}
.highdef.active .highdef-bg {
	left: 0px;
	opacity: 1;
	transform: scale3d(1.02, 1.02, 1.0) translate(0%, -50%);
}
.highdef.active .circle-red {
	left: -100px;
	opacity: 1;
}
.highdef.active .circle-orange {
	left: -100px;
	opacity: 1;
}
.highdef.active .circle-white {
	left: 0px;
	opacity: 1;
}

/*VIEW ALL EPISODES LINK*/
.section-showcase.highdef .episodes a.link-white {
	display: none;
}

/*-----FOURTH PAGE - CONTACT-----*/

section.contact {
	background: #000;
    display: block !important;
    padding-top: 200px;
}
section.contact header {
	position: absolute;
	top: 0;
}
section.contact header h1 {
	font-family: 'Helvetica Bold', sans-serif;
	font-size: 48px;
	color: #fff;
	margin-top: 0;
}
section.contact > .container:first-of-type {
	display: flex;
	justify-content: space-between;
	flex-direction: unset;
	flex-wrap: wrap;
	max-height: unset;
	height: unset;
}
section.contact .container .left {
	position: relative;
	height: calc(100vh - 200px);
	width: 600px;
}
section.contact .container .socials {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0%, -50%);
}
section.contact .container .socials .title {
	font-family: 'Helvetica Bold', sans-serif;
	margin-bottom: 15px;
	color: var(--orange);
}
section.contact .container .socials a {
	margin-bottom: 15px;
	display: block;
	font-family: 'Helvetica Light', sans-serif;
	font-size: 20px;
}
section.contact .container .socials a:last-of-type {
	margin-bottom: 0px;
}
section.contact .container .right {
	width: 100%;
	max-width: 850px;
	min-width: 450px;
	margin-right: 230px;
	transition: margin 0.5s ease;
}

/*-----CONTACT FORM-----*/

.contact-form {
	width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 80px;
}
.form-item {
	width: 100%;
	margin-top: 20px;
    clear: both;
}
.form-item.half {
	width: 48%;
	flex-basis: 48%;
}
.form-item label {
	display: block;
	margin-bottom: 10px;
}
.form-item input,
.form-item textarea {
	border: 2px solid var(--dark-red);
	background: unset;
	padding: 10px;
	height: 40px;
	color: #fff;
	width: 100%;
	border-radius: 6px;
	font-size: 16px;
	transition: all 0.3s ease;
}
.form-item textarea {
	height: 120px;
}
.form-item input::placeholder,
.form-item textarea::placeholder {
	color: var(--dark-red);
	transition: color 0.3s ease;
}
/*HOVER EFFECTS*/
.form-item input:hover::placeholder,
.form-item textarea:hover::placeholder {
	color: #6b6b6b;
}
.contact-form button {
	width: 150px;
	height: 50px;
	border: 2px solid #EEA62B;
	color: #fff;
	border-radius: 6px;
	background: unset;
	display: block;
	margin: 30px auto 0px;
	transition: background 0.5s ease;
}
.contact-form button:hover {
	background: #EEA62B;
}

/*HIDE LASTPASS ICON*/

div[id^=__lpform_] {
    display: none;
}

/*--------------FOOTER--------------*/

footer {
	width: 100%;
	background: #000;
	overflow: hidden;
	padding: 50px 0 40px;
}
footer .container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: unset;
	height: 100%;
	max-height: unset;
}
footer .footer-logo {
	width: 75px;
	height: auto;
	padding-bottom: 100px;
	margin-right: 50px;
}
/*FOOTER GROUP*/
footer .footer-group {
	display: flex;
	align-items: flex-start;
}
/*COLLABORATE WITH US*/
footer .collaborate-links {
	width: 320px;
	margin-right: 80px
}
footer .collaborate-links p {
	margin-top: 0;
}
footer .collaborate-links p,
footer .collaborate-links a {
	color: var(--orange);
}

/*CONTACT AND SUBSCRIBE LINKS*/
footer .contact-links {
	width: 500px;
	display: flex;
	justify-content: space-between;
	margin-right: 100px;
}
footer .contact-links a {
    display: flex;
    align-items: center;
}
footer .contact-links span {
	position: relative;
	display: inline-block;
    font-family: 'Helvetica Neue Light';
    font-weight: 300;
    font-size: 22px;
}

/*HOVER EFFECTS*/
.contact-links a:hover .circle-btn,
.circle-btn:hover {
	background: #fff;
}
.contact-links a:hover .circle-btn:before,
.circle-btn:hover:before {
	opacity: 0;
}
.contact-links a:hover .circle-btn:after,
.circle-btn:hover:after {
	opacity: 1;
}

/*SITEMAP AND SOCIAL LINKS*/
footer .site-links {
	width: 350px;
	display: flex;
}
footer .site-links .link-box {
	width: 50%;
}
footer .site-links .link-box a {
	display: block;
}
footer .site-links .link-box p,
footer .site-links .link-box a {
	color: var(--orange);
	margin-bottom: 5px;
	margin-top: 0px;
}
footer .site-links .link-box .title {
	margin-bottom: 10px;
}

/*THESIS MOBILE STYLES*/
html.scroll {
	overflow: initial !important;
	overflow-x: visible !important;
}
html.scroll,
body.scroll {
	-webkit-overflow-scrolling: touch;
}
body.scroll,
body.scroll .thesis-anim {
	overflow-y: overlay !important;
	overflow-x: hidden !important;
}
body.scroll .thesis-anim {
	height: unset;
	touch-action: auto !important;
	pointer-events: all;
}
body.scroll .thesis-anim section {
	opacity: 1;
	position: relative;
	pointer-events: all;
}
body.scroll .thesis-anim .pp-scrollable {
	overflow: visible;
	overflow-y: visible !important;
	height: unset;
}

/*-----THESIS NAV - LEFT ALIGNED-----*/

.circle-nav.thesis {
	right: unset;
	left: 0;
}

/*Left side*/
.circle-nav.thesis .circles a.one span {
	transform: rotate(-135deg);
}
.circle-nav.thesis .circles a.two span {
	transform: rotate(-105deg);
}
.circle-nav.thesis .circles a.three span {
	transform: rotate(-75deg);
}
.circle-nav.thesis .circles a.four span {
	transform: rotate(-45deg);
}
.circle-nav.thesis .circles a.five span {
	transform: rotate(-15deg);
}
.circle-nav.thesis .circles a.six span {
	transform: rotate(15deg);
}
.circle-nav.thesis .circles a.seven span {
	transform: rotate(45deg);
}

/*Right side*/
.circle-nav.thesis .circles a.eight span {
	transform: rotate(75deg);
}
.circle-nav.thesis .circles a.nine span {
	transform: rotate(105deg);
}
.circle-nav.thesis .circles a.ten span {
	transform: rotate(135deg);
}
.circle-nav.thesis .circles a.eleven span {
	transform: rotate(165deg);
}
.circle-nav.thesis .circles a.twelve span {
	transform: rotate(195deg);
}

/*-----THESIS PAGE STYLES-----*/

.thesis-anim .section-showcase > .container,
.thesis-anim .pp-tableCell > .container {
	width: calc(100% - 480px);
}

.thesis-page header {
	width: 710px;
	margin-top: 0;
}
.thesis-page header h1 {
	font-size: 48px;
	color: #fff;
}
.thesis-page header h1 span {
	color: #fff;
}
.thesis-page header p {
	font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	color: #fff;
	margin-top: 40px;
	line-height: 30px;
}

/*PULL VIDEO RIGHT*/

.thesis-page video {
	height: 120vh;
	top: 50%;
	min-width: unset;
	left: 45vw;
}
.thesis-page video.loaded {
	transform:  translate(0%, -50%) scale3d(1.0, 1.0, 1.0)
}
/*-----PAGE ONE-----*/

.thesis-page.one {
	background: var(--brown);
}
.thesis-page.one header h1 a.orange {
	display: inline-block;
	color: var(--orange);
	font-size: inherit;
	transition: inherit;
}

/*-----PAGE TWO-----*/

.thesis-page.two {
	background: var(--orange);
}
.thesis-page.two header {
	display: flex;
	flex-direction: column-reverse;
}
.thesis-page.two header h1,
.thesis-page.two header p {
	color: var(--black);
}
.thesis-page.two header p {
	margin-top: 0px;
}
.thesis-page.two header h1 {
	margin-top: 40px;
}

/*-----PAGE THREE-----*/

.thesis-page.three {
	background: var(--black);
}

/*-----PAGE FOUR-----*/

.thesis-page.four {
	background: var(--brown);
}

/*-----PAGE FIVE + FOOTER-----*/

.thesis-page.five {
	background: var(--orange);
}
.thesis-page.five > .container {
	max-height: 100%;
}
.thesis-page.five header {
	margin-bottom: 50px;
}
.thesis-page.five header h1,
.thesis-page.five header p {
	color: #000;
}

/*--------------INVESTMENTS PAGE--------------*/

section.investments {
	background: #000;
}

/*
  ONLY AFFECT FIRST CONTAINER
  AND NOT FOOTER
*/
section.investments > .container:first-of-type {
	display: flex;
	flex-direction: unset;
	justify-content: flex-start;
	flex-wrap: wrap;
	max-height: 100%;
	height: 100%;
}
section.investments .container .subheading {
	flex-basis: 100%;
}
/*INVESTMENT BOXES*/
.investment {
	width: 24%;
	margin-right: 1%;
	border-radius: 6px;
	border: 1px solid var(--dark-red);
	padding: 40px 20px 85px;
	margin-bottom: 25px;
	transition: background 0.5s ease;
}
/*AFFECT PARTNERSHIP AND DESCRIPTION P ELEMENTS ONLY*/
.investment p:nth-child(3),
.investment p:nth-child(4) {
	color: #fff;
	font-family: 'Helvetica', sans-serif;
}
.investment p:nth-child(4) {
	margin-bottom: 0;
}
.investment picture {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0px 0px 40px;
}
.investment picture img {
	width: 100%;
	height: auto;
}

/*HOVER EFFECTS*/
.investment:hover {
	background: var(--dark-red);
}
/*--------------CONTACT PAGE--------------*/

section.contact-page {
	padding-top: 150px;
	background: var(--brown);
}
section.contact-page .container {
	position: static;
	height: 100%;
}
section.contact-page .left .split-mobile.help {
	display: none;
}
section.contact-page .left .split-mobile.help p,
section.contact-page .left .split-mobile.help a {
	font-family: 'Helvetica Light', sans-serif;
    font-weight: 300;
	color: #fff;
	font-size: 24px;
}
section.contact-page header h1 {
	color: #fff;
}
section.contact-page .right p,
section.contact-page .right p a {
	font-size: 48px;
	font-family: 'Helvetica Light', sans-serif;
    font-weight: 300;
	color: #fff;
}
section.contact-page .right p a {
	color: var(--orange);
}
section.contact-page .right p.help-text {
	margin-top: 60px;
	margin-bottom: 0;
}
section.contact-page .right form {
	padding-top: 100px;
}

/*--------------READ PAGE--------------*/

.read .container {
	flex-direction: unset;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	max-height: 100%;
	height: 100%;
}
.read header {
	width: 750px;
}
.read .container header h1 {
	font-family: 'Helvetica Light', sans-serif;
    font-weight: 300;
	font-size: 48px;
	color: #fff;
}
/*FOR THE SUBHEADING OUTSIDE THE lg EPISODE DIV*/
.read .subheading {
	flex-basis: 100%;
	margin-bottom: 35px;
}
/*FOR THE SUBHEADING INSIDE THE lg EPISODE DIV*/
.read .right-contain .subheading {
	margin-bottom: 20px;
}

/*HORIZONTAL LINE*/
.read hr {
	border: 0;
	border-top: 1px solid var(--dark-red);
	flex-basis: 100%;
	margin: 60px 0px 35px;
}
.episode.read .heading {
	margin-bottom: 25px;
}
.episode.read .episode-info {
    padding: 15px 15px 15px;
}
.episode.read .description {
	padding: 15px;
	border-top: 1px solid var(--dark-red);
}
.episode.read a.open {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50px;
	border-top: 1px solid var(--dark-red);
}

.episodes-sml.right {
	margin-top: 80px;
	margin-bottom: 0px;
}


/*--------------LISTEN PAGE--------------*/

.listen header {
	width: 560px;
	margin-bottom: 35px;
}
.listen .container {
	flex-direction: unset;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	max-height: 100%;
	height: 100%;
	overflow: hidden;
}
.episode-row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	height: 100%;
	margin-bottom: 60px;
	width: 100%;
}
/*FOR THE SUBHEADING OUTSIDE THE lg EPISODE DIV*/
.listen .subheading {
	flex-basis: 100%;
	margin-bottom: 36px;
}
/*FOR THE SUBHEADING INSIDE THE lg EPISODE DIV*/
.listen .right-contain .subheading {
	margin-bottom: 20px;
}
.listen .container header p {
	font-size: 20px;
	font-family: 'Helvetica Light', sans-serif;
    font-weight: 300;
	color: #fff;
	line-height: 30px;
	margin-bottom: 0px;
}
/*lg episode styles*/
.episode.lg {
	width: 630px;
	height: 410px;
	display: flex;
	justify-content: flex-start;
}
.episode.lg .episode-thumbnail,
.episode.lg .episode-thumbnail .blur,
.episode.lg .episode-thumbnail .thumbnail {
	width: 410px;
	height: 410px;
}
/*Hide the second thumbnail on desktop*/
.episode.lg .episode-thumbnail.collapse-md {
	display: none;
}
.episode.lg .episode-info {
	width: 220px;
	padding: 0;
}
.episode.lg .episode-info .details {
	padding: 20px 20px 15px;
	border-bottom: 1px solid var(--dark-red);
}
.episode.lg .episode-info .number,
.episode.lg .episode-info .date,
.episode.lg .episode-info .time {
	display: block;
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 0;
}
/*Hide the divider between date and time on desktop*/
.episode.lg .episode-info .date + span {
	display: none;
}
.episode.lg .episode-info .number,
.episode.lg .episode-info .date {
	margin-bottom: 5px;
}
.episode.lg .episode-info .heading {
	margin: 0px 0px 25px;
}
.episode-info .description {
	padding: 15px 20px;
}
.episode .description p {
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	color: #fff;
	margin: 0;
}
.episode.lg .episode-info a.open {
	position: absolute;
	bottom: 0;
	left: 0;
	display: inline-flex;
	padding: 10px 20px;
	align-items: center;
	height: auto;
	border-top: 1px solid var(--dark-red);
}
.episode-row .episode {
	margin-bottom: 50px;
}
/*Remove the thumbnail from episodes that were lg previously*/
.episode.lg-removed .episode-thumbnail {
	display: none;
}
.episode.lg-removed .episode-info {
	padding: 0;
    height: 100%;
}
.episode.lg-removed .details {
    padding: 15px 15px 15px;
}
.episode.lg-removed .description {
    border-top: 1px solid var(--dark-red);
	padding: 15px;
    overflow: hidden;
}

/*HORIZONTAL LINE*/

.normal-section hr {
	border: 0;
	border-top: 1px solid var(--dark-red);
	flex-basis: 100%;
	margin: 60px 0px 35px;
}

/*--------------ARTICLE TEMPLATE PAGE--------------*/

.article .container {
	max-height: 100%;
	height: 100%;
}
.article .container > div:first-of-type {
	display: flex;
	flex-direction: unset;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
}
.article hr {
	border: 0;
	border-top: 1px solid var(--dark-red);
	flex-basis: 100%;
	margin: 30px 0px 30px;
}
.article header {
	border-bottom: 1px solid var(--dark-red);
	padding-bottom: 30px;
}
/*MAKE FIRST HR HAVE NO MARGIN ON TOP*/
.article .left-contain > hr:first-of-type {
	margin-top: 0;
}
.article .number, 
.article .date, 
.article .time,
.article .date + span {
	display: inline;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	color: var(--orange);
	margin-bottom: 10px;
	margin-top: 0;
}
.article .number {
	display: block;
}
.article .date + span {
	display: inline;
}
.article .title {
	font-family: 'Helvetica Bold', sans-serif;
	font-size: 48px;
	color: #fff;
	margin-top: 5px;
	margin-bottom: 35px;
}
/*LEFT IS ARTICLE CONTENT*/
.left-contain {
	width: 70%;
	padding-right: 100px;
	overflow: visible;
}
.flexbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flexbox .share-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 460px;
}
.flexbox .share-links p {
	margin: 0;
}
.flexbox .share-links a {
	color: var(--orange);
}
/*ARTICLE TAGLINE*/
h2.tagline {
	color: var(--orange);
	font-family: 'Helvetica Light', sans-serif;
	font-size: 48px;
	font-weight: 300;
}
/*ARTICLE SOUND EMBED*/
.episode-play {
	width: 100%;
	border-bottom: 1px solid var(--dark-red);
}
.episode-play img {
	width: 100%;
}
/*ARTICLE TEXT*/
.text-contain {
	width: 85%;
}
.text-contain p,
.text-contain p a {
	font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
}

/*IF THE ARTICLE HAS A VIDEO*/
.article-video {
	margin-top: 125px;
	width: 100%;
	margin-bottom: 75px;
	overflow: hidden;
}
/*Make the placeholder image stretch full*/
.article-video img {
	width: 100%;
}

/*ARTICLE IMAGE*/
.article .right-contain {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.article .right-contain .article-img {
	display: block;
	width: 100%;
	max-width: 500px;
	margin-bottom: 10px;
}
.article .right-contain .article-img img {
	width: 100%;
}

/*Recent episodes appear on tablet res and down*/
.article .recent-episodes {
	flex-wrap: wrap;
	margin: 10px 0px 35px;
	overflow: hidden;
}
.recent-episodes .subheading,
.recent-episodes a.link-white {
	flex-basis: 100%;
}
.recent-episodes .episode {
	margin-right: 20px;
}
.recent-episodes a.link-white {
	font-family: inherit;
	font-size: inherit;
	margin-top: 20px;
}

/*--------------MEDIA QUERIES--------------*/

/*--------------VERTICAL RESOLUTION QUERIES--------------*/

/*For 2K-4K screens at 1:1 pixel ratio*/
@media only screen and (min-height: 1100px){
	/*HIGHDEF*/
	.graphics .circle-red {
		left: 0px;
		height: 500px;
		width: 500px;
	}
	.graphics .circle-orange {
		left: 50px;
		bottom: -50px;
		height: 340px;
		width: 340px;
	}
	.graphics .circle-white {
		left: 80px;
		bottom: 240px;
		height: 200px;
		width: 200px;
	}
	/*When the slide is active, activate the animations*/
	.graphics.active .circle-red,
	.graphics.active .circle-orange,
	.graphics.active .circle-white {
		transition: all 3.5s ease 0.7s;
	}
	.highdef.active .highdef-bg {
		left: 0px;
		opacity: 1;
		transform: scale3d(1.02, 1.02, 1.0) translate(0%, -50%);
	}
	.highdef.active .circle-red {
		left: -100px;
		opacity: 1;
	}
	.highdef.active .circle-orange {
		left: -50px;
		opacity: 1;
	}
	.highdef.active .circle-white {
		left: -20px;
		opacity: 1;
	}
}
@media only screen and (max-width: 1919px){
	.highdef-bg .bg-full img {
		height: 100%;
		right: 50px;
	}
}
/*Begin downsizing elements by 12.5% when screen height below 1000px*/
@media only screen and (max-height: 1000px){

	/*HIGHDEF*/
	.episodes {
		display: none;
	}
}
@media only screen and (max-height: 900px){

	/*HIGHDEF*/
	.graphics {
		width: 50vw;
	}
	.highdef-bg {
		min-height: 140vh;
		min-width: 140vh;
	}
	.highdef.active .circle-red {
		left: -60px;
	}
	.highdef.active .circle-orange {
		left: -120px;
	}
	.highdef.active .circle-white {
		left: -20px;
	}

	/*THESIS PAGE*/
	.thesis-page header h1 {
		font-size: 42px;
	}
	.thesis-page.two header h1 {
		margin-top: 20px;
	}
	.thesis-page header p {
		font-size: 19px;
	}
}
@media only screen and (max-height: 800px){

	/*CONTACT*/
	section.contact header {
		position: relative;
	}
	section.contact .container .socials {
		position: unset;
		transform: none;
		padding-top: 100px;
	}
	.contact-form {
		padding-top: 0;
		padding-bottom: 50px;
	}

	/*THESIS PAGE*/
	.thesis-page header h1 {
		font-size: 24px;
	}
	.thesis-page header p {
		font-size: 16px;
		line-height: 20px;
	}
	.thesis-page header p {
		margin-top: 20px;
	}

	/*FOOTER*/
	footer .footer-group {
		flex-direction: column;
	}
	footer .contact-links {
		padding-top: 20px;
	}
}

/*--------------HORIZONTAL RESOLUTION QUERIES--------------*/

@media only screen and (max-width: 1800px){
	/*CONTACT*/
	section.contact header {
		position: relative;
	}
	section.contact .container .left {
		height: auto;
		margin-bottom: 80px;
	}
	section.contact .container .left .socials {
		display: none;
	}
	section.contact-page .right p.help-text {
		margin-top: 0;
	}
}
@media only screen and (max-width: 1600px){

	/*EPISODE STYLES*/
	.episode:not(.read) .description {
		display: none;
	}
	.episode.lg-removed:not(.read) .episode-thumbnail.collapse-md {
		display: block !important;
	}
	.episode.lg-removed:not(.read) .details {
	    padding: 15px 15px 7px;
	}

	/*FOOTER*/
	footer .container {
		flex-direction: row;
	}
	footer .footer-group {
		flex-direction: column;
	}
	footer .contact-links {
		padding-top: 20px;
	}
	footer .site-links {
		width: 250px;
	}
}
@media only screen and (max-width: 1300px){

	/*HIGHDEF*/
	.episodes .episode:first-of-type {
		margin-bottom: 20px;
	}

	/*INVESTMENTS PAGE*/
	.investment {
		width: 32.3333%;
	}

	/*SMALLER EPISODE STYLES*/
	.episode {
		width: 45vw;
		height: 175px;
		display: flex;
		flex-direction: row-reverse;
	}
	/*Make the larger episode container
	  full width*/
	.episode-lg {
		width: 100%;
	}
	.episode-info {
		padding: 8px 10px;
	}
	.episode a.open {
		display: none;
	}
	.episode a.open.mobile {
		display: block !important;
		position: absolute;
		bottom: 0;
		right: 0;
		font-family: 'Helvetica', sans-serif;
		font-size: 13px;
		color: var(--orange);
		border-top: 1px solid var(--dark-red);
		padding: 5px 10px;
	}
	.episode a.open.mobile:after {
		background: url('../img/listen/arrow-right-orange.svg');
	    background-size: cover;
		width: 15px;
		height: 13px;
		bottom: 6px;
	}
	.episode .episode-thumbnail,
	.episode .episode-thumbnail .blur,
	.episode .episode-thumbnail .thumbnail {
		width: 175px;
		height: 175px;
	}
	/*HIDE THE DIVIDER*/
	.episode-info .date + span {
		display: none;
	}
	/*MAKE DATE AND TIME ON DIFFERENT LINES*/
	.episode-info .date,
	.episode-info .time {
		display: block;
	}
	.episode-info .heading {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.episode-info .number, 
	.episode-info .date, 
	.episode-info .time {
		font-size: 13px;
	}
	.episode.mobile {
		display: flex !important;
	}
	.episode-row .episode {
		margin-bottom: 30px;
	}
	.episode-row {
		margin-bottom: 0;
	}
	.episode.lg-removed .details {
		padding: 15px 15px 10px;
	}

	/*LISTEN EPISODE SPECIFIC*/
	.episode.lg-removed:not(.read) {
		flex-direction: row;
	}
	.episode.lg-removed:not(.read) .episode-thumbnail.collapse-md {
		display: none !important;
	}
	.episode.lg-removed:not(.read) .episode-thumbnail.collapse-sm {
		display: block !important;
	}
	.episode.lg-removed:not(.read) .details {
	    padding: 8px 10px;
	}
	.episode.lg-removed:not(.read) a.open {
		display: flex;
		position: absolute;
		bottom: 0;
		left: 0;
	    font-family: 'Helvetica', sans-serif;
	    font-size: 13px;
	    color: var(--orange);
	    border-top: 1px solid var(--dark-red);
	    padding: 5px 10px;
	}

	/*READ PAGE*/
	.episode.read {
		flex-direction: column;
	}
	.episode.read .episode-info {
		padding-bottom: 10px;
	}
	.read .episode-info .number, 
	.read .episode-info .date, 
	.read .episode-info .time,
	.episode.read .description p,
	.episode.read a.open {
		font-size: 12px;
	}
	.read .episode-info .heading {
		margin-bottom: 2px;
	}
	.read .episode-info .date + span {
		display: inline;
	}
	.read .episode-info .date,
	.read .episode-info .time {
		display: inline;
	}
	.episode.read .description {
		padding: 5px 10px;
		overflow: hidden;
	}
	.episode.read a.open {
		position: relative;
		display: block;
		font-family: 'Helvetica', sans-serif;
		font-size: 13px;
		color: var(--orange);
		border-top: 1px solid var(--dark-red);
		padding: 5px 10px;
		height: auto;
	}
	.episode a.open:after {
		background: url('../img/listen/arrow-right-orange.svg');
	    background-size: cover;
		width: 15px;
		height: 13px;
		bottom: 6px;
	}
}

@media only screen and (max-width: 991px){
	/*GENERAL*/
	.container {
		padding: 0px 20px;
	}
	.arrow-down {
		display: none;
	}
	/*DISPLAY ELEMENTS ONLY ON MOBILE WITH THIS CLASS*/
	.mobile {
		display: block !important;
	}	
	.normal-section {
		padding-top: 120px;
	}
	.arrow:not(.up) {
		display: none;
	}
	.circle-btn.md {
		width: 35px;
		height: 35px;
	}
	.circle-btn.md:after,
	.circle-btn.md:before {
		height: 15px;
		width: 18px;
	}

	/*NAV*/
	nav {
		height: 64px;
	}
	nav .container {
		padding-top: 20px;
	}
	.menu-toggle {
		display: flex;
	}
	.right-nav {
		display: none;
	}
	.logo img {
		width: 64px;
	}

	/*HOMEPAGE SECTIONS*/
	.section-showcase header h1, 
	.section-showcase header a,
	.section-showcase header span.inline {
		font-size: 48px;
	}
	.section-showcase .pp-tableCell {
		position: relative;
	}
	.section-showcase .pp-tableCell > .container:first-of-type {
		max-height: 100%;
		justify-content: flex-end;
		padding-bottom: 45px;
	}
	.circle-btn {
		height: 65px;
		width: 65px;
	}
	.circle-btn:before {
		font-size: 40px;
	}

	/*ABOUT*/
	.section-showcase.about header {
		width: 560px;
	}
	.section-showcase.about header h1 span, 
	.section-showcase.about header a.link-white {
		font-size: 32px;
	}

	/*HIGHDEF*/
	.section-showcase.highdef header {
		position: relative;
	}
	.section-showcase.highdef .pp-tableCell > .container:first-of-type {
		justify-content: space-between;
	}
	.section-showcase.highdef .container .top {
		margin-top: 100px;
	}
	.section-showcase.highdef .episodes {
		display: flex;
		flex-wrap: wrap;
	}
	.section-showcase.highdef .subheading {
		flex-basis: 100%;
	}
	.section-showcase.highdef header h1 span, 
	.section-showcase.highdef header a.link-white {
		font-size: 32px;
	}
	.graphics {
		width: 100%;
		height: 50vh;
		right: -40vw;
	}
	.highdef-bg,
	.highdef.active .highdef-bg {
		min-height: 80vw;
		min-width: 80vw;
		left: 60vw;
		top: unset;
		bottom: 0;
		transform: translate(-50%, 0%);
		transition: height 0s ease, right 3s ease, opacity 2s ease, left 3s ease, transform 0s;
	}
	.highdef-bg img {
		height: 80vw;
		width: auto;
		top: 50%;
		left: 100px;
		right: unset;
		transform: translate(-50%, -50%);
	}
	.graphics .circle-orange {
		width: 180px;
		height: 180px;
		left: 150px;
	}
	.graphics .circle-white {
		width: 70px;
		height: 70px;
		left: 100px;
	}
	.graphics .circle-red {
		width: 200px;
		height: 200px;
		left: 100px;
	}
	/*Active styles*/
	.highdef.active .highdef-bg {
		left: 50vw;
	}
	.highdef.active .circle-orange {
		left: 100px;
	}
	.highdef.active .circle-white {
		left: 50px;
	}
	.highdef.active .circle-red {
		left: 50px;
	}
	/*VIEW ALL EPISODES LINK*/
	.section-showcase.highdef .episodes a.link-white {
		display: flex;
	}

	/*CONTACT*/
	section.contact {
		padding-top: 150px;
	}
	section.contact > .container:first-of-type {
		max-height: 100%;
	}
	section.contact .container .left {
		margin-bottom: 0px;
	}
	section.contact .container .right {
		margin-right: 0;
		max-width: 100%;
		min-width: 100%;
	}
	section.contact .container .left .socials .title {
		flex-basis: 100%;
	}
	section.contact .container .left .socials a {
		flex-basis: 50%;
	}
	.contact-form {
		padding-top: 0;
		padding-bottom: 0px;
	}
	section.contact header h1 {
		font-size: 32px;
	}
	.contact .container {
		max-height: unset;
		height: unset;
	}
	section.contact .container .socials {
		display: none !important;
	}
	.contact-form {
		padding-top: 20px;
	}
	section.contact .container .left {
		display: flex;
		width: 100%;
	}
	section.contact .container .left .socials {
		position: static;
		transform: unset;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 250px;
	}

	/*THESIS PAGE*/
	.thesis-anim .section-showcase header h1, 
	.thesis-anim .section-showcase header a,
	.thesis-anim .section-showcase header span {
		font-size: 32px;
	}
	.thesis-page header p {
		margin-top: 20px;
	}
	.thesis-page header p:last-of-type {
		margin-bottom: 0;
	}
	.thesis-anim .thesis-page.five > .container,
	.thesis-anim .pp-tableCell > .container {
		max-height: 100%;
		justify-content: flex-end;
		padding-bottom: 50px;
		width: 100%;
	}
	.circle-nav.thesis {
		display: none;
	}
	.section-showcase.thesis-page video {
		top: 30px;
		left: 50%;
		min-height: unset;
		min-width: unset;
		height: auto;
		width: 80vw;
		transform: translate(-50%, 0%);
	}
	/*PAGE 2*/
	.thesis-page.two header h1 {
		margin-top: 20px;
	}
	/*PAGE 5*/
	.thesis-page.five header {
		margin-bottom: 0px;
	}
	.thesis-anim .thesis-page.five > .container {
		padding-bottom: 35px;
	}
	.thesis-page.five header h1:last-of-type {
		margin-top: 20px;
	}

	/*INVESTMENTS PAGE*/
	.investment {
		padding: 25px 10px 20px;
		margin-bottom: 15px;
		margin-right: 0;
	}
	.investment picture {
		width: 55px;
		height: 55px;
		margin-bottom: 25px;
	}
	section.investments > .container:first-of-type {
		justify-content: space-between;
	}

	/*LISTEN PAGE*/
	section.listen {
		padding-top: 150px;
	}
	.listen .subheading {
		color: #fff;
	}

	/*READ PAGE*/
	section.read {
		padding-top: 150px;
	}
	.read header .subheading {
		color: var(--orange);
	}
	.read .subheading {
		color: #fff;
	}
	.read .container header h1 {
		font-size: 24px;
	}

	/*CONTACT PAGE*/
	section.contact-page header .subheading {
		margin-bottom: 10px;
		font-size: 16px;
	}
	section.contact-page header h1 {
		margin: 0;
		font-size: 24px;
	}
	section.contact-page .container .socials {
		display: flex !important;
	}
	section.contact-page .left .split-mobile {
		flex-basis: 50%;
	}
	section.contact-page .left .split-mobile.help {
		display: block;
	}
	section.contact-page .right p.help-text {
		display: none;
	}
	section.contact-page .right .contact-form {
		padding: 35px 0px 40px;
	}

	/*ARTICLE TEMPLATE*/
	.article header {
		padding-bottom: 45px;
	}
	.episode-play {
		display: none;
		border: 0;
	}
	.left-contain {
		padding-right: 10px;
	}
	.text-contain {
		width: 100%;
	}
	.flexbox .share-links {
		display: none;
	}
	h2.tagline {
		font-size: 24px;
	}
	.article-video {
		margin: 25px 0px 25px -20px;
		margin-left: -20px;
		width: 100vw;
	}
	.text-contain p, 
	.text-contain p a {
		font-size: 16px;
		line-height: 24px;
	}
	.article .recent-episodes {
		display: flex !important;
	}

	/*FOOTER*/
	footer .contact-links {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 300px;
	}
	footer .contact-links span {
    	font-size: 24px;
	}
	footer .contact-links a {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 767px){
	/*NAV*/
	.mobile-nav__items .social-link {
		margin-right: 40px;
	}
	.mobile-nav__items .nav-link {
		height: 50px;
		font-size: 24px;
	}
	.mobile-nav__items .social-link picture {
		width: 22px;
	}

	/*FULL HOMEPAGE SECTIONS*/
	section.section-showcase > .container:first-of-type {
		max-height: unset;
	}
	.section-showcase header h1, 
	.section-showcase header a,
	.section-showcase header span.inline {
		font-size: 24px !important;
	}
	span.subheading {
		margin-bottom: 10px;
		font-size: 12px;
	}
	/*Override styles for all button sizes*/
	.circle-btn,
	.circle-btn.md, 
	.circle-btn.sm {
		width: 26px;
		height: 26px;
		margin-left: 10px;
	}
	.circle-btn:after,
	.circle-btn:before,
	.circle-btn.md:after,
	.circle-btn.md:before,
	.circle-btn.sm:after,
	.circle-btn.sm:before {
		width: 14px;
		height: 12px;
	}
	.section-showcase video {
		min-height: 100%;
		min-height: unset;
		height: 100vh;
	}

	/*ABOUT*/
	.section-showcase.about header {
		width: 420px;
	}
	.section-showcase.about header h1 span, 
	.section-showcase.about header a.link-white {
		font-size: 24px;
	}
	.section-showcase.about header h1 span {
		display: inline;
	}

	/*HIGHDEF*/
	.section-showcase.highdef header h1 span, 
	.section-showcase.highdef header a.link-white {
		font-size: 24px;
	}
	.section-showcase.highdef header span {
		display: block;
	}
	.section-showcase.highdef .pp-tableCell > .container:first-of-type {
		justify-content: flex-end;
	}
	.section-showcase.highdef .container .top {
		margin-top: 0px;
	}
	.section-showcase.highdef .highdef-logo {
		width: 200px;
	}
	.section-showcase.highdef header {
		width: 100%;
	}
	.section-showcase.highdef .episodes {
		display: none;
	}
	.section-showcase.highdef header a.link-white {
		margin-top: 10px;
	}
	.graphics {
		width: 100%;
		height: 50vh;
		right: 0;
	}
	.highdef-bg {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
	.highdef-bg,
	.highdef.active .highdef-bg {
		min-height: 120vw;
		min-width: 120vw;
		left: 50%;
		top: -50px;
		bottom: 0;
		transform: translate(-50%, 0%);
		transition: height 0s ease, right 0s ease, opacity 2s ease, top 3s ease, transform 0s;
	}
	.highdef-bg img {
		height: 120vw;
		width: auto;
		top: 50%;
		left: 100px;
		right: unset;
		transform: translate(-50%, -50%);
	}
	.graphics .circle-orange {
		width: 80px;
		height: 80px;
		left: 50px;
		bottom: -20px;
	}
	.graphics .circle-white {
		width: 50px;
		height: 50px;
		left: 130px;
		bottom: -30px;
	}
	.graphics .circle-red {
		width: 150px;
		height: 150px;
		left: unset;
		right: -50px;
		top: -20px;
	}
	/*Active styles*/
	.highdef.active .highdef-bg {
		left: 50%;
		top: -50px;
	}
	.highdef.active .circle-orange {
		left: 0px;
	}
	.highdef.active .circle-white {
		left: 70px;
	}
	.highdef.active .circle-red {
		left: unset;
		right: -100px;
	}

	/*CONTACT*/
	.contact .container {
		max-height: unset;
		height: unset;
	}
	.socials {
		/*Override .mobile class display: block*/
		display: flex !important;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;
		padding-top: 30px !important;
	}
	.socials .title {
		flex-basis: 100%;
	}
	.socials a {
		flex-basis: 50%;
	}
	.form-item label {
		font-size: 12px;
	}
	section.contact:not(.contact-page) footer {
		padding-bottom: 100px;
	}

	/*THESIS PAGE*/
	.thesis-page header {
		width: 100%;
	}
	.thesis-anim .section-showcase header h1, 
	.thesis-anim .section-showcase header a, 
	.thesis-anim .section-showcase header span {
		font-size: 24px;
	}
	/*THESIS SCROLLABLE*/
	.thesis-anim .thesis-page.five > .container, 
	.thesis-anim .pp-tableCell > .container {
		height: unset;
	}
	.section-showcase.thesis-page video {
		height: auto;
		position: relative;
		width: 100%;
		left: 50%;
		max-height: 60vh;
		transform: translate(-50%, 0%);
		margin-bottom: 50px;
	}
	.section-showcase .pp-tableCell {
		display: flex;
		flex-direction: column;
	}
	section.thesis-page.five footer {
		padding-bottom: 100px;
	}

	/*LISTEN PAGE*/
	.listen .container header p {
		font-size: 16px;
		line-height: 24px;
		margin-top: 25px;
	}
	.listen hr {
		margin-top: 40px;
	}
	.listen .subheading {
		font-size: 16px;
	}
	.episode {
		margin-bottom: 20px;
	}

	/*INVESTMENTS PAGE*/
	.investments .subheading {
		font-size: 16px;
	}
	.investment {
		flex-basis: 100%;
		margin-bottom: 20px;
		padding: 25px 15px 20px;
	}
	.read .subheading { 
		margin-bottom: 20px;
	}
	.read header h1 { 
		margin-top: 0;
	}
	.normal-section hr {
		margin-top: 25px;
	}

	/*ARTICLE TEMPLATE*/
	.article .container > div:first-of-type {
		flex-direction: column-reverse;
	}
	.article .left-contain,
	.article .right-contain {
		width: 100%;
	}
	.article .right-contain .article-img {
		margin-left: -20px;
		margin-right: -20px;
		width: 100vw;
	}
	.article .left-contain p {
		font-size: 16px;
		line-height: 20px;
	}
	.article .recent-episodes .subheading {
		margin-bottom: 20px;
	}

	/*SMALLER EPISODE STYLES*/
	.episode {
		width: 300px;
	}

	/*FOOTER*/
	footer .container {
		flex-direction: column;
		height: 100% !important;
	}
	footer .footer-logo {
		padding-bottom: 25px;
	}
	footer .collaborate-links {
		flex-basis: 100%;
	}
	footer .collaborate-links span {
		font-size: 22px;
	}
	footer .site-links {
		margin-top: 20px;
	}
}
@media only screen and (max-width: 479px){
	/*GENERAL*/
	.container {
		padding: 0px 15px;
	}

	/*NAV*/
	.mobile-nav__items .nav-link {
		height: 80px;
		font-size: 36px;
	}
	.mobile-nav__items .social-link picture {
		width: 25px;
	}

	/*ABOUT*/
	.section-showcase.about header {
		width: 100%;
	}
	/*CONTACT*/
	section.contact {
	    padding-top: 50px;
	}

	/*LISTEN PAGE*/
	.listen header {
		width: 100%;
	}
	.listen header img {
		width: 100%;
		max-width: 320px;
	}
	.episode {
		width: 100%;
		justify-content: flex-end;
	}

	/*THESIS PAGE*/
	.thesis-anim .thesis-page.five > .container, 
	.thesis-anim .pp-tableCell > .container {
		padding-bottom: 30px;
	}

	/*CONTACT PAGE*/
	section.contact {
		padding-top: 100px;
	}
	section.contact-page .container .socials {
		display: none !important;
	}
	section.contact-page .left .split-mobile.help {
		display: none;
	}
	section.contact .container .right {
		margin-top: 15px;
	}
	section.contact-page .right p.help-text,
	section.contact-page .right p.help-text a {
		display: block;
		font-size: 24px;
	}
}
