/*--------------GENERAL STYLES--------------*/

@font-face {
    font-family: 'Helvetica Light';
    src: url('../fonts/Helvetica-Light.woff2') format('woff2'),
        url('../fonts/Helvetica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Helvetica Bold';
    src: url('../fonts/Helvetica-Bold.woff2') format('woff2'),
        url('../fonts/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body {
	background: #1c1c1d;
	overflow-x: hidden;
	height: 100%; 
	width: 100%;
}
*::selection {
	background: #EEA62B;
	color: #fff;
}
* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}
body.no-anim * {
  transition: none !important;
}
*:focus,
*:hover {
	outline: none !important;
}
p, a, label, li {
	font-family: 'Helvetica Bold', sans-serif;
	font-weight: 500;
	font-size: 16px;
	transition: all 0.5s ease;
	color: #EEA62B;
}
a {
	font-family: 'Helvetica Neue Light';
	text-decoration: none;
	color: #fff;
}
input, textarea, button {
	font-family: 'Helvetica';
}
a:hover {
	text-decoration: none;
}
main {
	height: 100vh
}
/*Page Piling styles*/
section {
	position: relative;
	height: 100vh;
	transform: unset !important;
	opacity: 0;
	transition: opacity 0.7s ease !important;
	pointer-events: none;
}
section.active {
	opacity: 1;
	pointer-events: all;
}
section:nth-child(1) {
	background: #000;
}
section:nth-child(2) {
	background: #fff;
}
#pp-nav {
	display: none;
}
/*Arrow down to next page*/
.arrow-down {
	position: absolute;
	bottom: -60px;
	left: 40px;
}
.arrow-down img {
	width: 25px;
	height: 25px;
}

/*HELPER DIVS*/
.container {
	position: relative;
	max-width: 1800px;
	width: 100%;
	padding: 0px 40px;
	height: 100vh;
	max-height: calc(100% - 200px);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*--------------NAV--------------*/

nav {
	position: fixed;
	width: 100%;
	height: 80px;
	z-index: 999;
}
nav .container {
	display: flex;
	justify-content: space-between;
	flex-direction: unset;
	padding-top: 45px;
}
.logo {
	position: relative;
	width: 100px;
	height: 36px;
}
.logo img {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
}
nav .right-nav {
}
.nav-item {
	margin: unset;
	display: inline-block;
	margin-right: 20px;
	color: #fff;
}
.nav-link {

}

/*LIGHT NAV*/
nav.light .logo .dark {
	opacity: 0;
}
nav.light .logo .light {
	opacity: 1;
}
nav.light .right-nav p {
	color: #fff;
}

/*DARK NAV*/

nav.dark .logo .dark {
	opacity: 1;
}
nav.dark .logo .light {
	opacity: 0;
}
nav.dark .right-nav p {
	color: #280000;
}

/*-----CIRCLE NAV-----*/

.circle-nav {
	position: fixed;
	right: 0px;
	top: 0;
	height: 100%;
	z-index: 999;
	display: flex;
	align-items: center;
    transition: transform 0.5s ease;
}
.circle-nav .circles {
	padding-top: 60px;
	transform: rotate(255deg);
	margin-top: 400px;
}
.circle-nav .circles a {
	display: block;
}
.circle-nav .circles a span {
	position: absolute;
    display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 2px solid #fff;
    transform-origin: calc(100% + 130px) 50%;
    box-sizing: border-box;
    transition: background 0.3s ease 0.1s;
}
/*Left side*/
.circle-nav .circles a.one span {
	transform: rotate(195deg);
}
.circle-nav .circles a.two span {
	transform: rotate(165deg);
}
.circle-nav .circles a.three span {
	transform: rotate(135deg);
}
.circle-nav .circles a.four span {
	transform: rotate(105deg);
}
.circle-nav .circles a.five span {
	transform: rotate(75deg);
}
.circle-nav .circles a.six span {
	transform: rotate(45deg);
}
.circle-nav .circles a.seven span {
	transform: rotate(15deg);
}

/*Right side*/
.circle-nav .circles a.eight span {
	transform: rotate(-15deg);
}
.circle-nav .circles a.nine span {
	transform: rotate(-45deg);
}
.circle-nav .circles a.ten span {
	transform: rotate(-75deg);
}
.circle-nav .circles a.eleven span {
	transform: rotate(-105deg);
}
.circle-nav .circles a.twelve span {
	transform: rotate(-135deg);
}

.circle-nav .circles a.active span {
	background: #fff;
}

/*--------------FULL PAGE SECTIONS--------------*/

.section-showcase .pp-tableCell {
	position: relative;
	display: flex;
	align-items: center;
}
.section-showcase header {
	position: relative;
	margin-top: 50px;
}
.section-showcase header span.subheading {
	font-family: 'Helvetica Bold', sans-serif;
	font-size: 16px;
	color: #EEA62B;
	display: block;
	margin-bottom: 20px;
}
.section-showcase header h1,
.section-showcase header span {
	color: #fff;
	font-family: 'Helvetica Light', sans-serif;
	font-weight: 300;
	font-size: 72px;
	margin: unset;
}
.section-showcase header h1 span {
	position: relative;
	display: block;
	color: #EEA62B;
}
.section-showcase header span.link-white {
	position: relative;
	color: #fff;
	display: inline-block;
}
.section-showcase header span.link-white:before {
	content: "";
	position: absolute;
	bottom: -2px;
	width: calc(100% + 80px);
	border-bottom: 1px solid #fff;
}
.section-showcase header .circle-btn {
	position: absolute;
	bottom: -2px;
	right: -120px;
	height: 84px;
	width: 84px;
	border: 1px solid #fff;
	background: transparent;
	border-radius: 50%;
}
.section-showcase header .circle-btn:before {
	content: "\01F862";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 40px;
	padding-bottom: 5px;
}
.section-showcase video {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%) scale3d(1.1, 1.0, 1.0);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease;
}
.section-showcase video.loaded {
    opacity: 1;
    transform: translate(0%, -50%) scale3d(1.0, 1.0, 1.0);
}

/*-----SECOND PAGE - ABOUT-----*/

.section-showcase.about header .subheading {
	color: #280000;
}
.section-showcase.about header h1 span,
.section-showcase.about header span.link-white {
	font-size: 48px;
	color: #280000;
}
.section-showcase.about header span.link-white {
	position: relative;
	color: #fff;
	margin-top: 20px;
	display: inline-block;
}
.section-showcase.about header span.link-white:before {
	content: "";
	position: absolute;
	bottom: -2px;
	width: calc(100% + 50px);
	height: 1px;
	background: #fff;
}
.section-showcase.about header .circle-btn {
	width: 60px;
	height: 60px;
	right: -80px;
}
.section-showcase.about header .circle-btn:before {
	font-size: 30px;
}

/*-----THIRD PAGE - HIGH DEF-----*/

.section-showcase.highdef {
	background: #280000;
}
.section-showcase.highdef .container {
	z-index: 1;
}
.section-showcase.highdef, .highdef-logo {
	margin-bottom: 30px;
}
.section-showcase.highdef header span.link-white:before {
	width: calc(100% + 40px);
}
.section-showcase.highdef header h1 span,
.section-showcase.highdef header span.link-white {
	font-size: 48px;
}
.section-showcase.highdef header span.link-white {
	margin-top: 20px;
}
.section-showcase.highdef header .circle-btn {
	right: -80px;
	height: 64px;
	width: 64px;
}
.container__episodes {
	margin-top: 50px;
}
.container__episodes .subheading {
	display: block;
	margin-bottom: 20px;
	font-family: 'Helvetica Bold', sans-serif;
	font-size: 16px;
	color: #EEA62B;
	display: block;
	margin-bottom: 20px;
}
.episode {
	position: relative;
	display: inline-block;
	width: 270px;
	height: 310px;
	border: 1px solid #601B0C;
	border-radius: 6px;
	overflow: hidden;
	transition: background 0.5s ease;
}	
.episode * {
	transition: opacity 0.5s ease;
}
.episode .episode-thumbnail {
	width: 100%;
	height: 270px;
	margin: 0;
}
/*Blur div*/
.episode .episode-thumbnail .blur {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 270px;
	background: rgba(255, 255, 255, 0.1);
	opacity: 0;
	z-index: 1;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}
.episode .episode-thumbnail img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 270px;
}
.episode .episode-thumbnail .thumbnail {
	opacity: 1;
}
.episode .episode-thumbnail .thumbnail-blur {
	opacity: 0;
}
.episode span.listen {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	font-family: 'Helvetica Bold', sans-serif;
	font-size: 16px;
	color: #fff;
	padding: 10px 15px;
}
.episode span.listen:after {
	content: "\01F862";
	position: absolute;
	right: 15px;
	color: #fff;
	font-size: 30px;
	padding-bottom: 5px;
}

/*HOVER EFFECTS - BLUR*/
/*.episode:hover .episode-thumbnail .thumbnail {
	opacity: 0;
}*/
.episode:hover .episode-thumbnail .thumbnail-blur {
	opacity: 1;
}
.episode:hover .episode-thumbnail .blur {
	opacity: 1.0;
}
.episode:hover {
	background: #601B0C;
}

/*FULL BG ANIMATION*/
.highdef-bg {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
	pointer-events: none;
}
.highdef-bg .bg-full {
	position: absolute;
	top: 50%;
	right: -550px;
	transform: scale3d(1.0, 1.0, 1.0) translate(0%, -50%);
	height: 1600px;
	width: 1600px;
	opacity: 0;
	transition: all 3s ease, height 0s ease, transform 3s ease;
	border-radius: 50%;
	overflow-x: hidden;
}
.highdef-bg .bg-full img {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	right: 150px;
	height: 1200px;
	width: auto;
	transition: all 1s ease;
	/*min-height: 1080px;*/
}
.highdef-bg .circle-red,
.highdef-bg .circle-orange,
.highdef-bg .circle-white {
	transition: all 3.5s ease;
}
.highdef-bg .circle-red {
	position: absolute;
	right: 800px;
	top: -100px;
	height: 300px;
	width: 300px;
	opacity: 0.3;
}
.highdef-bg .circle-orange {
	position: absolute;
	right: 900px;
	bottom: -50px;
	height: 240px;
	width: 240px;
	opacity: 0.3;
}
.highdef-bg .circle-white {
	position: absolute;
	right: 1000px;
	bottom: 250px;
	height: 100px;
	width: 100px;
	z-index: -1;
	opacity: 0.3;
}
/*When the slide is active, activate the animations*/
.highdef.active .bg-full {
	right: -450px;
	opacity: 1;
	transform: scale3d(1.02, 1.02, 1.0) translate(0%, -50%);
}
.highdef.active .circle-red {
	right: 900px;
	opacity: 1;
}
.highdef.active .circle-orange {
	right: 1000px;
	opacity: 1;
}
.highdef.active .circle-white {
	right: 1100px;
	opacity: 1;
}

/*-----FOURTH PAGE - CONTACT-----*/

section.contact {
	background: #000;
}
section.contact header {
	position: absolute;
	top: 0;
}
section.contact header h1 {
	font-size: 48px;
	font-family: 'Helvetica Bold', sans-serif;
}
section.contact .container {
	display: flex;
	justify-content: space-between;
	flex-direction: unset;
}
section.contact .container .left {
	position: relative;
	height: calc(100vh - 200px);
	width: 600px;
}
section.contact .container .socials {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0%, -50%);
}
section.contact .container .socials .title {
	font-family: 'Helvetica Bold', sans-serif;
	margin-bottom: 15px;
	color: #EEA62B;
}
section.contact .container .socials a {
	margin-bottom: 15px;
	display: block;
	font-family: 'Helvetica Light', sans-serif;
	font-size: 20px;
}
section.contact .container .socials a:last-of-type {
	margin-bottom: 0px;
}
section.contact .container .right {
	width: 100%;
	max-width: 850px;
	min-width: 450px;
	padding-right: 230px;
}

/*-----CONTACT FORM-----*/

.contact-form {
	width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}
.form-item {
	width: 100%;
	margin-top: 20px;
    clear: both;
}
.form-item.half {
	width: 48%;
	flex-basis: 48%;
}
.form-item label {
	display: block;
	margin-bottom: 10px;
}
.form-item input,
.form-item textarea {
	border: 2px solid #601B0C;
	background: unset;
	padding: 10px;
	height: 40px;
	color: #fff;
	width: 100%;
	border-radius: 6px;
	font-size: 16px;
	transition: all 0.3s ease;
}
.form-item textarea {
	height: 120px;
}
.form-item input::placeholder,
.form-item textarea::placeholder {
	color: #601B0C;
	transition: color 0.3s ease;
}
/*HOVER EFFECTS*/
.form-item input:hover::placeholder,
.form-item textarea:hover::placeholder {
	color: #6b6b6b;
}
.contact-form button {
	width: 150px;
	height: 50px;
	border: 2px solid #EEA62B;
	color: #fff;
	border-radius: 6px;
	background: unset;
	display: block;
	margin: 30px auto;
	transition: background 0.5s ease;
}
.contact-form button:hover {
	background: #EEA62B;
}

/*--------------FOOTER--------------*/

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 200px;
	background: #000;
}
footer .container {
	padding-top: 50px;
	flex-wrap: wrap;
	align-items: flex-start;
}
footer .footer-logo {
	width: 75px;
	height: auto;
}
/*COLLABORATE WITH US*/
footer .collaborate-links {
	width: 350px;
}
footer .collaborate-links p {
	margin-top: 0;
}
footer .collaborate-links p,
footer .collaborate-links a {
	color: #EEA62B;
}

/*CONTACT AND SUBSCRIBE LINKS*/
footer .contact-links {
	width: 500px;
	display: flex;
	justify-content: space-between;
}
footer .contact-links a {
	position: relative;
	font-size: 22px;
	text-decoration: underline;
}
footer .contact-links a:after {
	content: "\01F862";
	width: 35px;
	height: 35px;
	position: absolute;
	top: 50%;
	right: -50px;
	transform: translate(0%, -50%);
	color: #fff;
	font-size: 20px;
	border: 1px solid #fff;
	padding-bottom: 2px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*SITEMAP AND SOCIAL LINKS*/
footer .site-links {
	width: 350px;
	display: flex;
}
footer .site-links .link-box {
	width: 50%;
}
footer .site-links .link-box a {
	display: block;
}
footer .site-links .link-box p,
footer .site-links .link-box a {
	color: #EEA62B;
	margin-bottom: 5px;
	margin-top: 0px;
}
footer .site-links .link-box .title {
	/*font-family: 'Helvetica Bold', sans-serif;*/
}

@media only screen and (max-width: 1919px){
	.highdef-bg .bg-full img {
		height: 100%;
		right: 50px;
	}
}
